<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/popup.css">
    <title>Dark Pattern Detector</title>
</head>
<body>
    <div class="logo">🕵️</div>
    <h1>Dark Pattern Detector</h1>
    <form id="darkPatternForm">
        <label for="website_url">Enter Website URL:</label>
        <input type="text" id="website_url" name="website_url" placeholders="https://url" required>
        <button type="button" id="predictButton">Predict</button>
    </form>    

    <ul id="resultList"></ul>
    <script src="/static/popup.js"></script>
</body>
</html>
